node_modules
.npmrc
.npm

# JS output build directory
dist

# astro docs build directory
.astro
docs
!src/content/docs/
src/content/docs/api

# Vitest related artifacts
coverage/
tests/tmp-*
junit-report.xml